.course-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease;
    border-radius: 10px;
    width: 20%; /* Adjusted width */
    margin-right: 20px; /* Added margin for better spacing */
    margin-bottom: 20px;background: linear-gradient(to bottom left, #DED0B6 40%, #FFC39E 100%);
}
.card_image{
    width: 100%;
    object-fit: cover;
    height: 100%; /* Adjusted height */
    border-radius: 10px 10px 0 0; /* Rounded corners at the top */
}
.card_content h2{
    font-size: 20px; /* Adjusted font size */
    margin: 10px;
}
.card_content p{
    font-size: 14px; /* Adjusted font size */
    margin: 10px;
}
input[type="radio"] { 
    transform: scale(0.7);
   }
  
  /* Style the custom radio button
  input[type="radio"] + label {
    display: inline-block;
    position: relative;
    padding-left: 20px; /* Adjust the space for the custom design */
    /* cursor: pointer; */
    /* line-height: 20px; */
  /* } */
  
  /* input[type="radio"] + label:before { */
    /* content: ''; */
    /* position: absolute; */
    /* left: 0; */
    /* top: 0; */
    /* width: 14px; Size of the radio button (smaller size) */
    /* height: 14px; */
    /* border: 2px solid #3498db; Border color */
    /* border-radius: 50%; Round the corners to make it circular */
    /* background-color: #fff; Background color when not checked */
    /* transition: background 0.3s; */
  /* } */
  
  /* Style the label when the radio button is checked */
  /* input[type="radio"]:checked + label:before { */
    /* background-color: #3498db; */
    /* border-color: #3498db; */
  /* } */