#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.686);
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  z-index: 9;
  /* scrollbar-width: thin; /* for Firefox */
  /* scrollbar-color: #888 #ddd; for Firefox */
  /* For Webkit browsers like Chrome and Safari, you can use the following */
  /* overflow-y: overlay; */
}

#form-container {
  background-color: #a5a5a4;
  padding: 20px;
  border-radius: 5px;
  color: #090e1f;
  z-index: 9;
}

.post-card img, #add-post-card{
    width: 150px;
    height: 150px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    
  margin: 30px;
    
}
.post-card img:hover{
  translate:-5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);

}
.post-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#add-post-card{
  background-color:rgba(163, 163, 163, 0.86);
  font-size: 40px;
  border-radius: 10px;
}
#add-post-card i{
 padding-top: 50%;
 padding-left: 26%;
}
