.blog-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease;
    border-radius: 10px;
    width: 20%; /* Adjusted width */
    margin-right: 20px; /* Added margin for better spacing */
    margin-bottom: 20px;
}

.blog-card:hover {
    transform: translateY(-8px);
}

.blog-card img {
    width: 100%;
    object-fit: cover;
    height: 100%; /* Adjusted height */
    border-radius: 10px 10px 0 0; /* Rounded corners at the top */
}

.blog-card h3 {
    font-size: 20px; /* Adjusted font size */
    margin: 10px;
}

.blog-card p {
    font-size: 14px; /* Adjusted font size */
    margin: 10px;
}

.read-more {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px 0px;
    background-color: cadetblue;
    color: #fff;
    font-size: 16px; /* Adjusted font size */
    border-radius: 5px;
    margin-top: 5px;
    transition: all 0.3s ease;
}

.read-more:hover {
    background-color: #ee9600;
    cursor: pointer;
}
.blogscon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* height: 1vh; */

}
#add-post-card{
    align-self: center;
}
#form-container{
    width: 55%;
    flex-wrap: wrap;
    height: 75%;
    margin: auto;
}
/* #form-container *{
    background-color: inherit;
} */
/* #form-container h2,#form-container label,#form-container button,#form-container textarea,#form-container input{
    background: none;
} */
#form-container  {
    max-height: 500px; /* Set the maximum height to make the scrollbar visible */
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: darkgrey lightgrey;
  }

  #form-container::-webkit-scrollbar  {
    width: 12px;
  }

  #form-container::-webkit-scrollbar-thumb  {
    background-color: darkgrey;
    border-radius: 10px;
  }

  #form-container::-webkit-scrollbar-track  {
    background-color: lightgrey;
  }
  .bon{
   border: none;
   background:none ;
   font-size: 30px;
   text-align: center;
   margin-left: 47%;
   color:#090e1f ;
  }
  .infog {
    width: 400px;
    height: 300px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 255, 0.608) rgba(173, 216, 230, 0.91);
    margin-bottom: 1rem;
  }
  
  .infog img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .post-container{
    flex: 1;
  }
  .infog::-webkit-scrollbar  {
    width: 12px;
  }

  .infog::-webkit-scrollbar-thumb  {
    background-color: rgba(0, 0, 255, 0.608);
    border-radius: 10px;
  }

  .infog::-webkit-scrollbar-track  {
    background-color: rgba(173, 216, 230, 0.91);
  }
 .addp{
    width: 400px;
    height: 300px;
 }
 #add-post-card{
    margin:auto;
    margin-top: 20%;
 }