<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/static/Style/adminView.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
    />
    <script
      src="https://kit.fontawesome.com/85dc7f73ae.js"
      crossorigin="anonymous"
    ></script>
    <title>Resources</title>
  </head>

  <body>
    <!-- Sidebar -->
    <nav id="sidebar">
      <div>
        <h3 class="sidebar-header">Darul Hikmah</h3>
      </div>

      <ul class="list-unstyled components">
        <li>
          <a href="/getAdminPost"><i class="fa-solid fa-image"></i> Posts</a>
        </li>
        <li>
          <div class="dropdown">
            <span class="dropbtn"
              ><i class="fa-brands fa-readme"></i> Read
              <i class="fa fa-caret-down"></i>
            </span>
            <div class="dropdown-content">
              <a href="/getAdminBlog">Blogs</a>
              <a href="/getAdminInfographic">Infographics</a>
            </div>
          </div>
        </li>
        <li>
          <a href="/getAdminCourse"><i class="fa-solid fa-book"></i> Courses</a>
        </li>
        <li>
          <a href="/getAdminPublication"
            ><i class="fa-solid fa-book-bookmark"></i> Publications</a
          >
        </li>
      </ul>
    </nav>
    <!-- ... (your body content) ... -->
    <section class="section" id="blg">
      <h1 class="Heading">Resources</h1>
      <div class="con">
        <div class="main-container">
          <% Resources.forEach(Resource=> { %>
          <a class="container" href="/editAdminResource/<%= Resource._id %>">
            <form
              onsubmit="return confirm('Are you sure you want to delete this Resource?');"
              action="/deleteResource/<%= Resource._id %>?_method=DELETE"
              method="post"
            >
              <button class="delete">&times;</button>
            </form>
            <img
              class="img"
              src="data:image/png;base64, <%= Resource.image %>"
              alt="Uploaded Image"
            />
            <p class="title"><%= Resource.title %></p>
          </a>
          <% }); %>
        </div>
      </div>
      <button class="new">
        <a style="color: #fff; text-decoration: none" href="/addResource"
          >New Resource</a
        >
      </button>
    </section>
  </body>
</html>
