@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.main {
  /* height: 50vh; */
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.head h2 {
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
}
.desc p {
  text-align: center;
  width: 85vw;
  margin: auto;
  margin-bottom: 6rem;
}
div.conten {
  display: flex;
  justify-content: space-around;
}
div.recon {
  width: 22vw;
  background-color: #afd3e2;
  padding: 1vw;
  border-radius: 4px;
}
div.recon:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transform: translateY(-5px);
}
div.rescardcon {
  width: 22vw;
  display: flex;
  flex-flow: column;
}
div.img img {
  width: 20vw;
}
div.title {
  text-align: center;
  width: 20vw;
  font-size: 1.5rem;
  font-weight: 600;
  color: #146c94;
}
div.prev{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.bimg img{
  width: 420px;
}
.cont{
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.bitt{
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.des{
  font-size: 1rem;
  margin-bottom: 3rem;
}
.bott button{
 
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 200px;
  margin: auto;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.bott button:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}



@media screen and (max-width: 768px) {
  div.title{
    font-size: .75rem;
  }
  .bott button {
    padding: 1rem 2rem;
  }
}