<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/static/Style/about.css" />
  <link rel="stylesheet" href="/static/Style/home.css">
  <title>About Us</title>
</head>

<body>
  <header>
    <a href="#" class="logo">DARUL HIKMAH</a>
    <div class="menuToggle"></div>
    <nav>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="">read <b>▼</b></a>
              <ul>
                  <li><a href="/getUserBlogs">blog</a></li>
                  <li><a href="/getUserInfographics">infographics</a></li>
              </ul>
          </li>
          <li><a href="/getUserPosts">posts</a></li>
          <li><a href="/getUserResourcePublications">resources</a></li>
          <li><a href="/getUserCourses">courses <b>▼</b></a>
              <ul>
                  <li><a href="getUserKidCourses">for Women</a></li>
                  <li><a href="getUserWomenCourses">for kids</a></li>
              </ul>
          </li>
          <li><a href="/aboutUs">about</a></li>
          <li><a href="/contactUs">contact us</a></li>
          <li><a href="/getuserPublications">publications<b>▼</b></a>
              <ul>
                  <li><a href="/getUserEBookPublications">Ebooks</a></li>
                  <li><a href="/getUserAcademyPublications">by academy</a></li>

              </ul>
          </li>

      </ul>
  </nav>
    
  </header>
  <div class="abhead">
  <h1>About Us</h1>
  <div class="slog">
    <p>"slogan comes here Lorem ipsum dolor sit amet consectetur"</p>
  </div>
</div>
<div class="abcon"
style="margin-bottom:200px ;">
  <div class="abtcon1">
    <div class="par1">
     <p>Our goal is to instil the maʿrifah (deep knowledge) and <span>love of Allah and His Messenger ﷺ </span>in ourselves, our families and the wider Ummah.
      <br>
      <br>
      We envision an Ummah that is connected to the <span>Book of Allah</span>; that savours the sweetness of īmān and worship; and that internalises ʿubūdiyyah (servitude) and yaqīn (conviction).
      <br>
      <br>
      We hope to strengthen our īmān and nurture the <span> īmān</span> of our upcoming generations, enabling them to remain steadfast in this era of trials.</p> 
      <br>
      <br>
    </div>
    <div class="logob"><img src="/static/Assets/images/logo.png" alt="logo"></div>
  </div>
  <div class="abtcont2">
    <div class="par2">
      <h3>What do we do?</h3>
      <p>
      <ul>
        <li>Produce and publish books and pamphlets (print and digital)</li>
        <li>Distribute banners and posters for masjids</li>
        <li>Share daily reminders via social media</li>
        <li>Develop educational resources</li>
        <li>Provide authentic Islamic content through our website</li>
      </ul>
      </p>
    </div>
    <div class="par3">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni sed dolorum sapiente modi asperiores porro
        corporis
        iure sit numquam esse ab enim ea eaque, <span>consectetur incidunt odio, quasi recusandae.</span> Consequatur! Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Molestiae odio, asperiores commodi dolore doloribus tempora iure
        animi aut quo rem <span>voluptatum voluptas vitae </span> deserunt odit earum ea. Saepe, consequuntur laudantium.</p>
    </div>
  </div>
</div>
<footer class=" bg-dark py-4">
  <div class="container text-white">
      <div class="row gy-4 gx-5">
          <div class="col-lg-6 col-md-6 d-flex flex-column justify-content-between">
              <div>
                  <h5 class="h1">DARUL HIKMAH</h5>
                  <p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
              </div>
              <div>
                  <p class="small mb-0">&copy; Copyrights. All rights reserved. Developed by Glittle Software Solutions</p>
              </div>
          </div>
          <div class="col-lg-6 col-md-6">
              <h5 class="text-white mb-3 text-center ">Quick Links</h5>
              <ul class="list-unstyled text-muted d-flex flex-wrap text-white">
                  <li class="mx-4 pt-3  "><a href="/">Home</a></li>
                  <li class="mx-4 pt-3  "><a href="/getUserBlogs">Read</a></li>
                  <li class="mx-4 pt-3 "><a href="/getUserPosts">Posts</a></li>
                  <li class="mx-4 pt-3 "><a href="/getUserResourcePublications">Resources</a></li>
                  <li class="mx-4 pt-3 "><a href="/getUserCourses">Courses</a></li>
                  <li class="mx-4 pt-3  "><a href="/aboutUs">About</a></li>
                  <li class="mx-4 pt-3 "><a href="/contactUs">Contact Us</a></li>
                  <li class="mx-4 pt-3  "><a href="/getUserPublications">Publications</a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>
  <script src="jsfiles/logo.js"></script>
<script src="jsfiles/toggle.js"></script>

</body>
</html>