<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Infographics</title>
    <link rel="stylesheet" href="/static/Style/info.css" />
    <link rel="stylesheet" href="/static/Style/home.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <header>
      <a href="#" class="logo">DARUL HIKMAH</a>
      <div class="menuToggle"></div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li>
            <a href="">read <b>▼</b></a>
            <ul>
              <li><a href="/getUserBlogs">blog</a></li>
              <li><a href="/getUserInfographics">infographics</a></li>
            </ul>
          </li>
          <li><a href="/getUserPosts">posts</a></li>
          <li><a href="/getUserResourcePublications">resources</a></li>
          <li>
            <a href="/getUserCourses">courses <b>▼</b></a>
            <ul>
              <li><a href="getUserKidCourses">for Women</a></li>
              <li><a href="getUserWomenCourses">for kids</a></li>
            </ul>
          </li>
          <li><a href="/aboutUs">about</a></li>
          <li><a href="/contactUs">contact us</a></li>
          <li>
            <a href="/getuserPublications">publications<b>▼</b></a>
            <ul>
              <li><a href="/getUserEBookPublications">Ebooks</a></li>
              <li><a href="/getUserAcademyPublications">by academy</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <script>
      let menuToggle = document.querySelector(".menuToggle");
      let header = document.querySelector("header");
      menuToggle.onclick = function () {
        header.classList.toggle("active");
      };
    </script>
    <h1>All INFOGRAPHICS</h1>
    <div class="infographics-container">
      <% Infographics.forEach(Infographic=> { %>
      <div class="infographic-card">
        <img
          src="data:image/png;base64, <%= Infographic.image %>"
          alt="Infographic 1"
        />
        <h1><%= Infographic.title %></h1>
        <p><%= Infographic.description %></p>

      </div>
      <% }); %>
    </div>

   
  </body>
</html>
