@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
h1{
margin-left: 15px;
padding-top: 6rem;
color: #000000;
font-weight: 800;
font-size: 45px;
margin-bottom: 40px;
}
header{
z-index: 9999;
  position: fixed;

  width: 100%;
  top: 0;
  min-height: 80px;
  background-color: #1C3879;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
 align-items: center;


}
header .logo{
  color: white;
  font-size: 1.75em;
  font-weight: 600;
  text-decoration: none;
}
header ul{
  position: relative;
}
header ul li{
  position: relative;
  list-style: none;
  float: left;
}
header ul li a
{
  color: aliceblue;
  font-size: 1.1em;
  padding: 20px 25px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
header ul li a:hover{
  background-color: #607EAA;
}

header ul li ul{
  position: absolute;
  left: 0;
  width: 200px;
  background-color: #4671c0;
  display: none;
}

header ul li:hover ul
{
  display: block;
}

header ul li ul li{
  position: relative;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.2);
}


/* responsive */
@media (max-width: 900px)
{
  header
  {
      padding: 10px 20px;
  }
header nav{
  position: absolute;
  width: 100%;
  top: 66px;
  left: 0;
  background-color: #445964;
  display: none;
}
header.active nav{
  display: initial;
}
header nav ul li{
  width: 100%;
}
header nav ul li ul{
  position: relative;
  width: 100%;
  left: 0;
}
header nav ul li ul{
  top: 0;
  left: 0px;
}
header nav ul li:hover ul li{
  background-color: #546e7b;
}
.menuToggle{
  position: relative;
  width:40px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuToggle::before
{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transform: translateY(-12px);
  box-shadow: 0 12px #fff;
}
.menuToggle::after
{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transform: translateY(12px);
}
header.active .menuToggle::before{
  transform: rotate(45deg);
  box-shadow: 0 0 #fff;
}
header.active .menuToggle::after
{
  transform: rotate(315deg);
}
}
  



  @media screen and (max-width: 768px) {
      
    .modal__inner {
      width: 90%;
      height: 90%;
      box-sizing: border-box;
    }
  }
  
  
  /* Other
   * =============================== */
   

main {
  margin-top: 30px;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	max-width: 1280px;
	padding: 0 18px;
	box-sizing: border-box;
	display: flex;
	justify-content:center;	
}
section {
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	overflow: hidden;
}
article {
	font-family: 'poppins', sans-serif;
}
h1 {
	font-family: 'poppins';
	text-align: center;
	letter-spacing: 1.5px;
}
.h1-divider {
	background-color: rgb(13, 5, 41);
	margin-bottom: 37px;
}
article h3 {

	font-weight: 800;
	margin: 0;
	line-height: 27px;
}
section p {
	font-family: 'poppins', sans-serif;
	color: #252525;
	line-height: 25px;
	margin-bottom: 40px;
	text-align: justify;
}
section .intro {
	font-weight: 300;
}
article p {
	margin-top: 0;
	margin-bottom: 50px;
}

section p {
	font-size: 16px;
}
article h3{
font-size: 30px;
color: #4671c0;
}
.placeHolder_img {
	/* background-image: url('https://wallpapercave.com/wp/wc1744485.jpg'); */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}


/*--------------------------

     Media Queries 

--------------------------*/
/*    Mobile    */

@media only screen and (min-width: 320px) {
    /* 320px */
	h1 {
		font-size: 42px;
		line-height: 44px;
	}
	.h1-divider {
		width: 222px;
		height: 19px;
	}
	.placeHolder_img {
		height: 320px;
		margin: 0 0 50px 0;
	}

}

@media only screen and (min-width: 375px) {
    /* 375 */
	
}

@media only screen and (min-width: 414px) {
    /* 414 */
	
}

@media only screen and (min-width: 568px) {
    /* 568 */
	
}

@media only screen and (min-width: 667px) {
    /* 667px */
	article p {
		column-count: 2;
		column-gap: 42px;
	}
	
}

@media only screen and (min-width: 736px) {
    /* 736px */
	
}

/*Tablet*/

@media only screen and (min-width: 768px) {
    /* 768 */
	main {
		padding: 0 40px;
	}
	h1 {
		font-size: 53.1px;
		line-height: 0.98;
		letter-spacing: 1.1px;
		margin-bottom: 20px;
	}
	.h1-divider {
		width: 339px;
		height: 24px;
		margin-bottom: 53px;
	}
	article p {
		margin-bottom: 40px;
	}
	.placeHolder_img {
		height: 344px;
		margin: 0 0 40px 0;
	}

}

/*    Desktop    */

@media only screen and (min-width: 1024px) {
    /* 1024 */
	section {
		width: 820px;
	}
	h1 {
		font-size: 66.4px;
		line-height: 0.95;
		letter-spacing: 1.4px;
		margin-bottom: 30px;
	}
	.h1-divider {
		width: 486px;
		margin-bottom: 38px;
	}
	.placeHolder_img {
		height: 442px;
	}
	
}

@media only screen and (min-width: 1140px) {
    /* 1140 */
	section {
		width: 1035px;
	}
	h1 {
		font-size: 72px;
		line-height: 0.98;
	}
	.h1-divider {
		width: 480px;
		margin-bottom: 45px;
	}
	.placeHolder_img {
		height: 432px;
	}
	
}

@media only screen and (min-width: 1440px) {
    /* 1440 */
}

@media only screen and (min-width: 1662px) {
    /* 1662px */
}


.change a{
   text-decoration: none;
   color: white;
   background: #204dc9;
   padding: 7px 10px;
   border-radius: 4px;  
   font-size: 19px;
   /* display: flex; */
}
.change a:hover{
background: rgba(44, 34, 187, 0.85);
}
.change a:focus{
   outline: 3px solid rgba(38, 35, 168, 0.5);
}
.change{
   /* display: flex; */
   /* margin-left: 100px; */
   justify-content: space-between;
   margin-top: 20px;
}
.previous{
  margin-right: 800px;
}
.next{
  margin-left: 900px;
  margin-bottom: 40px;
}

.top {
  --offset: 50px; 

  position: sticky;
  bottom: 20px;      
  margin-right: 10px; 
  /* place-self: end; */
  margin-top: calc(60vh + var(--offset));

  /* visual styling */
  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  color: #fff;
  background: #000;
  border-radius: 100px;
  white-space: nowrap;
}